<div class="container">
  <mat-card class="py-3">
    <mat-card-title *ngIf="dataSource == undefined">No hay registros</mat-card-title>
    <mat-card-title *ngIf="dataSource != undefined">Procesar personas:</mat-card-title>
    
    <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td name = "id" mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td name = "nombre" mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td name = "apellido" mat-cell *matCellDef="let element"> {{element.apellido}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Procesado </th>

        <td mat-cell *matCellDef="let element; let i = index">
          <mat-checkbox [(ngModel)]="dataSource[i].procesado" name = "procesado" class="example-margin" [checked]="element.procesado"></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <button *ngIf="dataSource.length > 0" mat-raised-button type="submit" (click)="onClick()"  color="primary">Procesar</button>
  
  </mat-card>
</div>