<div class="container">  
  <form id="contact" [formGroup]="crearPersonaForm" #myForm="ngForm" (ngSubmit)="onSubmit()">
    <h3>Registro</h3>    
    <div>
	  <h4>Nombre:</h4>
      <input formControlName="nombre" placeholder="Nombre" type="text" tabindex="1" required autofocus>
    </div>
    <mat-error *ngIf="crearPersonaForm.get('nombre').hasError('required') && myForm.submitted">Falta el campo</mat-error>
    <div>
	 <h4>Apellido:</h4>
      <input formControlName="apellido" placeholder="Apellido" type="text" tabindex="2" required>
      <mat-error *ngIf="crearPersonaForm.get('apellido').hasError('required') && myForm.submitted">Falta el campo</mat-error>
    </div>
    <div>
      <br>
	  </div>
      <button  name="submit" type="submit" id="registrar-submit" data-submit="...Sending">Registrar</button>
	    <button routerLink="/procesar" name="registros" type="registros" id="ver-registros">Ver registros</button>  
   </form>
</div>


